.leadertrainig-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}
.leaderhead-class{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#leaderhead-id{
    font-size: 40px;
    font-weight: bold;
    color: #25a8ef;
}
#subhead-id{
    font-size: 40px;
    font-weight: bold;
    margin-top: -40px;
    
}
.leaderbody-class{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    font-weight: lighter;
    font-size: 40px;
    
}
.contentleader-review{
    display: flex;
    flex-direction: column;
    
    
}
#tik-id{
    width: 60px;
    height: 60px;
}
.text-class{
    display: flex;
    flex-direction: row;
    width: 33.33%;
    float: left;
    clear: both;
}
#review-box-id{
    font-size: 20px;
    
    
}
.altr-class{
    display: flex;
    flex-direction: row;
    width: 33.33%;
    float: left;
    clear: both;
    background-color: #d6e9f4;
}
